@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  @apply bg-stone-50 bg-opacity-20  font-sans text-stone-700  !min-h-screen;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

